<li class="list-group-item pl-0 task-item border-top-0 border-bottom">
  <div class="row">
    <div class="col-9 d-flex">
      <BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "submit"}} as |form|>
        <form.element @controlType="checkbox" @label="" @property="checkbox" />
      </BsForm>
            <div class="task-text ml-2">
        <h5 class="card-title flex-fill mb-1">
          {{@task.name}}
        </h5>
        <div class="task-description">
          {{@task.description}}
        </div>
      </div>
    </div>
    <div class="task-actions col-3 d-flex justify-content-end  align-content-center pr-0 pt-2">
      <div class="pr-4">
       <PinIcon @pinned={{@task.isPinned}} />
      </div>
      <div>
        <button class="{{if @task.isComplete "task-completed"}} task-toggle-button">
          {{#if @task.isComplete}}
              Completed
          {{else}}
              Done
          {{/if}}
        </button>
      </div>
    </div>
  </div>
</li>