<ul class="list-group list-group-flush">
  {{#each @tasks as |task|}}
    <SingleTask @toggleComplete={{action @toggleComp}} @task={{task}} @togglePinTask={{action @togglePin}} />
  {{else}}
    <div>
      {{yield}}
    </div>
  {{/each}}
</ul>
