<BsNav @type="tabs" as |nav|>
  <nav.item @active={{bs-eq tab.activeId "all-tasks"}}>
    <a href="#all-tasks" class="nav-link" role="tab" {{action tab.select "all-tasks"}}>
      All Tasks
      <span class="badge">
        {{badge}}
      </span>
    </a>
  </nav.item>
  <nav.item @active={{bs-eq tab.activeId "complete-taksk"}}>
    <a href="#all-tasks" class="nav-link" role="tab" {{action tab.select "complete-taksk"}}>
      Completed Tasks
      <span class="badge position-absolute badge-primary badge-pill"> {{@counter}} </span>
    </a>
  </nav.item>
</BsNav>

